{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" id="#contact">
    <!-- Footer Links -->
    <div class="container-fluid text-center">
        <!-- Grid row -->
        <div class="row footer">
            <div class="col-md-4 mt-md-0 mt-3">
                <h5 class="text-uppercase">Mon adresse mail</h5>
                <div> <a target="_blank" href="{{ contact.0.mail}}">{{ contact.0.mail}} </a></div>
            </div>

            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase">Mon profil Linkedin</h5>
                <div> <a target="_blank" href="{{ contact.0.linkedin}}">{{ contact.0.linkedin}} </a></div>
            </div>

            <div class="col-md-4 mb-md-0 mb-3">
                <h5 class="text-uppercase">Mon profil Github</h5>
                <div> <a target="_blank" href="{{ contact.0.github}}">{{ contact.0.github}} </a></div>
            </div>
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

</footer>
<!-- Footer -->

{% endblock %}
